/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "nautigal-bold";
  src: local("nautigal-bold"), url(assets/fonts/TheNautigal/TheNautigal-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "nautigal-regular";
  src: local("nautigal-regular"), url(assets/fonts/TheNautigal/TheNautigal-Regular.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
